<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Músicas por Gênero</title>
</head>

<body>
    <h1>Top Músicas por Gênero e Ano</h1>

    <form method="POST">
        <label>Gênero:</label>
        <input type="text" name="genero" required>
        <br>
        <label>Ano:</label>
        <input type="number" name="ano" required>
        <br>
        <button type="submit">Buscar</button>
    </form>

    {% if musicas %}
    <h2>Resultados para {{ genero }} - {{ ano }}</h2>
    <ul>
        {% for track in musicas %}
        <li>{{ track.title }} - {{ track.artist }} | Popularidade: {{ track.rank }}</li>
        {% endfor %}
    </ul>
    {% elif musicas == [] %}
    <p>Nenhuma música encontrada.</p>
    {% endif %}
</body>

</html>